[include]
  path = "D:/05-Src/personal/gh-ebbypeter/dotfiles/appConfigs/git/main.gitconfig"
[includeIf "gitdir:**/personal/**"]
  path = "D:/05-Src/personal/gh-ebbypeter/dotfiles/appConfigs/git/personal.gitconfig"
[includeIf "gitdir:**/work/**"]
  path = "D:/05-Src/personal/gh-ebbypeter/dotfiles/appConfigs/git/work.gitconfig"